<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-light fs-2 fw-bolder" href="#"> <i class="fa-solid fa-car-tunnel"></i> RentZea</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tokencheck()" routerLink="/about">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tokencheck()" routerLink="/cars">Araç Kirala</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tokencheck()" routerLink="/admin">Admin Panel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" (click)="tokencheck()" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            İştiraklerimiz
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" />
        <button class="btn btn-dark" type="submit">Ara</button>
      </form> -->
      <form class="d-flex" *ngIf="checkLogin()===false">
        <button class="btn btn-outline-light ms-4"  routerLink="register" type="submit">
          Kayıt Ol
        </button>
        <button class="btn btn-outline-light ms-2" routerLink="login" type="submit">
          Giriş Yap
        </button>
      </form>
      <div *ngIf="checkLogin()!=false" class="d-inline-block text-center " ngbDropdown #myDrop="ngbDropdown">
        <i type="submit" class="fa-solid fa-circle-user bg-transparent border-0 fs-1 text-light" id="dropdownManual"  (click)="myDrop.open()"></i><br>
      
        <div ngbDropdownMenu  aria-labelledby="dropdownManual " class="text-center text-dark dropdown-menu-xl-end px-3">
          <div *ngIf=" getUser()===true"  class=" text-dark   text-center  m-0 fw-normal " >{{userFullName}}</div>
          <div *ngIf=" getUserId()===true" class=" text-muted  text-center " >Müşteri No :{{userId}}</div>
          

          <hr>
          <button class="menuItem" routerLink="profile" ngbDropdownItem>Profil</button>
          <button class="menuItem" ngbDropdownItem>Kiralama Geçmişim</button>
          <hr>
          <button ngbDropdownItem routerLink="" class="menuItem px-4" (click)="logout()">Çıkış Yap</button>
        </div>
      </div>
      
  
      
    </div>
  </div>
</nav>