<div class="container mt-2">
  <div class=" mx-5 mb-5">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <!-- ARAÇ RESMİ -->
          <div class="col-12" style="margin-top: 2em">
            <!-- <img class="rounded img-fluid img-thumbnail" [src]="[getImageSource(carImage)]" /> -->
            <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
              [showNavigationIndicators]="showNavigationIndicators">
              <ng-template ngbSlide *ngFor="let image of carImages">
                <div class="picsum-img-wrapper">
                  <img class="rounded img-fluid img-thumbnail" [src]="[getImageSource(image)]">
                </div>
                <div class="carousel-caption">

                </div>
              </ng-template>
            </ngb-carousel>

            <hr>



          </div>
          <!-- ARAÇ RESMİ BİTİŞ-->

          <!-- KASKO VE GÜN SEÇİMİ -->
          <div class="row mt-2">
            <div class="col-sm-6">
              <i class="fs-6 fw-light">Ek kasko ve sigorta seçenekleri</i>
              <div class="btn-group">
                <div  *ngFor="let inc of insurances"  class="m-0 ">
                <input *ngIf="inc.insuranceId!=1003" type="radio"  value="{{inc.insuranceDailyPrice}}" (input)="setInsurancePrice(inc.insuranceDailyPrice,inc.insuranceId)" class="btn-check " name="options" [id]="inc.insuranceId" autocomplete="off" />
                <label  *ngIf="inc.insuranceId!=1003" style="font-size:10px; border-radius:0px; " class="btn btn-dark border-1 text-mu  border-left border-secondary insurance" [for]="inc.insuranceId">{{inc.insuranceName}}  
                 <br> <i  class=" fw-bold text-linkgreen mt-4 py-5"> {{inc.insuranceDailyPrice}}₺</i> <span class="text-muted"> / Gün</span></label>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5 " style="margin-left: 0px;">
              <app-datepicker></app-datepicker>
            </div>
          </div>
          <!-- KASKO VE GÜN SEÇİMİ  BİTİŞ-->
        </div>
        <div class="row m-1  fs-6 fw-light ">
            <i   *ngIf="CarOK===true"      class="text-danger"> <i class="fa-solid fa-circle-xmark"></i> {{message}} </i>
            <i  *ngIf="CarOK===false" class="text-success"><i class="fa-solid fa-circle-check"></i> Araç Belirtilen Tarih Aralığında Müsait </i></div>
         
       
      </div>
      <!-- SAĞ PANEL -->
      <div class="col-4">

        <div class="row mt-4">
          <div class="col-6 text-lg-start mr-5">
            <i class="fs-2">{{ carDetail.brandName }}</i><br />
            <i class="fs-4">{{ car.carModel }}</i>
            <p class="fs-5">{{ car.modelYear }}</p>
            <i class="fs-4 text-success fw-bold">{{ car.dailyPrice }} ₺</i>
            <i class="text-muted fs-5"> / 1 Gün İçin</i>
          </div>
          <div class="col-6 text-end">
            <div>
              <ngb-rating [rate]="car.carRate" class="fs-3" style=" color:	hsl(43, 77%, 51%);padding:3px">
              </ngb-rating>
            </div>

            <i *ngIf="rentDay!=0"  class="fs-5 text-success ">{{ (car.dailyPrice+insurancePrice)*rentDay}} ₺<i
                class="text-muted fs-4 fw-light"> / {{rentDay}} Gün İçin</i>
              <div class="alert alert-warning fs-6 fw-light" @fade role="alert">
                Fiyatlar Aynı Gün İçin Geçerlidir!
              </div>
            </i>

            <i class="fs-4 text-warning fw-bold"></i>

          </div>
        </div>
        <!-- ARAÇ ÖZELLİKLERİ -->
        <div class="row mt-4 text-left">
          <hr />

          <ul class="list-group fs-6">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Kilometre :</i></div>
                <div class="col-6">{{ car.kilometer }}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Yakıt Türü :</i></div>
                <div class="col-6">{{ car.fuelType }}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Vites :</i></div>
                <div class="col-6">{{ car.transmission }}</div>
              </div>
            </li>
            <li *ngIf="car.airConditioning" class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Klima :</i></div>
                <div class="col-6">Var</div>
              </div>
            </li>
            <li *ngIf="!car.airConditioning" class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Klima :</i></div>
                <div class="col-6">Yok</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Motor Hacmi :</i></div>
                <div class="col-6">{{ car.engineCapacity }}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Kasa Tipi :</i></div>
                <div class="col-6">{{ car.bodyStyles }}</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Renk :</i></div>
                <div class="col-6">{{ carDetail.colorName }}</div>
              </div>
            </li>

            <li *ngIf="car.navigation" class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Navigasyon :</i></div>
                <div class="col-6">Var</div>
              </div>
            </li>
            <li *ngIf="!car.navigation" class="list-group-item">
              <div class="row">
                <div class="col-6"><i class="text-muted">Navigasyon :</i></div>
                <div class="col-6">Yok</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <i class="text-muted">Min. Sürücü Yaşı :</i>
                </div>
                <div class="col-6">{{ car.minDriverAge }}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <i class="text-muted">Min. Ehliyet Süresi :</i>
                </div>
                <div class="col-6">{{ car.minDrivingLicence }} Yıl</div>
              </div>
            </li>
          </ul>
        </div>
        <!-- ARAÇ ÖZELLİKLERİ BİTİŞ -->
      </div>


      <!-- SAĞ PANEL  BİTİŞ-->
    </div>

    <!-- KİRALA BUTONU -->
    <div class="row">

      <div class="col-6"></div>
      <div class="col-6" style="text-align: right">
        <button type="button" [style]="" (click)="setCurrentCarDailyPrice(car.dailyPrice)" (click)="getRentDay()"
          class="btn btn-dark btn-lg mt-3" style="
      margin-right: 3em;
      padding: 10px;
      padding-right: 30px;
      padding-left: 30px;
    ">
          Hesapla
        </button>
        <button routerLink="/pay" *ngIf="payOK===true" (click)="setRental()" type="button" class="btn btn-success btn-lg  mt-3" style="
          margin-right: 3em;
          padding: 10px;
          padding-right: 30px;
          padding-left: 30px;
        ">
          Hemen Kirala
        </button>
        <button routerLink="/pay"  disabled *ngIf="payOK===false" (click)="setRental()" type="button" class="btn btn-success btn-lg mt-3" style="
          margin-right: 3em;
          padding: 10px;
          padding-right: 30px;
          padding-left: 30px;
        ">
          Hemen Kirala
        </button>
      </div>
    </div>
    <!-- KİRALA BUTONU BİTİŞ -->
  </div>
  <hr />
</div>