<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Hakkımızda</h1>
    <div class="col-lg-6 mt-5 mx-auto">
        <h4 class="display-6 fw-normal">Biz Kimiz?</h4>
      <p class="lead mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos blanditiis sit nihil nam quaerat corporis ea architecto, iste alias, quis iusto! Debitis repellat minus hic numquam laudantium, aut fugit aspernatur omnis ipsum provident excepturi, magnam rerum unde quo vitae neque consequuntur dolorum nemo ducimus quasi laborum. Ipsa maiores dolorum itaque!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Ofislerimiz</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Bize Ulaşın</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="https://purepng.com/public/uploads/large/purepng.com-mercedes-benz-gle-coupe-white-carcarvehicletransportmercedes-benz-961524660217nch4l.png" class="img-fluid border rounded-3  mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>