<div class="mt-4 p-5 bg-success text-white rounded">
    <p class="fs-3">Hakkımızda</p>
    <p class="fw-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et officiis, ex repellat
        necessitatibus, animi dicta impedit modi, enim deserunt quaerat delectus eos blanditiis provident? Quam
        accusamus alias recusandae iure eum quod veniam sequi? Quos esse expedita debitis asperiores. Eveniet inventore,
        nulla quos in consectetur nam maxime repellendus harum suscipit at.</p>
</div>