
    <div class="row m-0 py-1">
      <div class="col-sm-3">  <h1 class="fs-1 fw-lighter text-center ">Yönetici Paneli </h1></div>
      
      <div class="col-sm-7 text-start  "> 
        <div class="container justify-content-center mt-1">
        <ul ngbNav #nav="ngbNav"  class="nav-tabs justify-content-start ">
            
            <li ngbDropdown  ngbNavLink  class="nav-item mx-1">
             
              <i ngbNavLink href (click)="false" class=" fw-normal btn btn-dark btn-rounded" ngbDropdownToggle>Arabalar &nbsp;</i>
            
              <div ngbDropdownMenu class="">
               
                <button ngbNavLink  ngbDropdownItem   value="carAdd" (click)="panelControl('car','add')" >Araba Ekle</button>
                <button ngbNavLink ngbDropdownItem   value="carUpdate" (click)="panelControl('car','update')">Araba Güncelle</button>
             
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem  value="carList" (click)="panelControl('car','list')">Araç Listesi</button>
              </div>
           
           
            </li>
    
            <li ngbDropdown  ngbNavLink  class="nav-item mx-1">
                <i ngbNavLink href (click)="false" class=" fw-normal btn btn-dark btn-rounded " ngbDropdownToggle>İşlemler &nbsp;</i>
                <div ngbDropdownMenu class="">
                  <button ngbNavLink  ngbDropdownItem (click)="panelControl('brand','')">Marka İşlemleri</button>
                  <button ngbNavLink  ngbDropdownItem (click)="panelControl('color','')">Renk İşlemleri</button>
                  
                </div>
              
               
            </li>
            <li ngbDropdown  ngbNavLink  class="nav-item mx-1">
              <i ngbNavLink href (click)="false" class=" fw-normal  btn btn-rounded btn-dark" ngbDropdownToggle>Kayıtlar &nbsp;</i>
  
              <div ngbDropdownMenu class="">
                  <button ngbNavLink  ngbDropdownItem (click)="panelControl('log','')">Kiralama Kayıtları</button>
                </div>
          </li>
            
          </ul> </div>
        </div>
    </div>

    <hr>
<div class="container">
  

  

   
      
    
   
      
   
    <div class=" text-center">

    
        

    <div  *ngIf="main==='car'&&alt==='add'" class="col-md-12"> 
       

         <app-add-car></app-add-car>
        
    

    </div>
    
   
   <div   *ngIf="main==='car'&&alt==='update'" class="col-md-12"> 
   
   
        <app-update-car></app-update-car>
        
  


   </div>

    
    <div   *ngIf="main==='car'&&alt==='list'" class="col-md-12"> 
   
    <app-list-car></app-list-car>
    
    </div>




    <div class="row mt-5 " *ngIf="main==='brand'||main==='color'">
      <div class="col-md-12 mb-5 p-0 " >
          <h1 class="fs-2 fw-light mb-4 text-start" *ngIf="main==='brand'">Marka İşlemleri </h1>
          <h1 class="fs-2 fw-light mb-4 text-start" *ngIf="main==='color'">Renk İşlemleri </h1>
          <div class="col-4"><hr></div>
        <div class="row">
        <div class="col-7"> 
          <div class="col-md-12 p-3 shadow-3-strong  border border-1 border-dark"> 
            <h2 class="fs-4 fw-light " *ngIf="main==='brand'"> Marka Listesi</h2>
            <h2 class="fs-4 fw-light" *ngIf="main==='color'"> Renk Listesi</h2>
          <app-list-brands *ngIf="main==='brand'"></app-list-brands>
          <app-list-color *ngIf="main==='color'" ></app-list-color>

          
          </div></div>
        <div class="col-5">
          <div class="col-6 mb-5">   
            <div   class="col-md-12 p-3 shadow-3-strong  border border-1 border-dark"> 
       

            <app-add-brand *ngIf="main==='brand'"></app-add-brand>
            <app-add-color *ngIf="main==='color'"></app-add-color>
           
       
      
       </div></div>
          <div class="col-6"> <div  class="col-md-12"> 
    
    
            <app-update-brand *ngIf="main==='brand'" ></app-update-brand>
            <app-update-color *ngIf="main==='color'"></app-update-color>
            
       
       
       
       </div></div>

        </div>

     
     
    
   
    
     
    
      </div>
    </div>
    </div>

    


  
</div>

