
<h2 class="fs-3 fw-normal  my-2 text-center mb-4">  <i class="fa-solid fa-circle-plus text-success fs-4"></i> Yeni Marka Ekle </h2>

<form [formGroup]="brandAddForm"> 
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form text-start">
          <label class="form-label mb-3 " for="brandName">Marka Adı :</label>
          <input formControlName="brandName" type="text" id="brandName" class="form-control mb-3" />
          
        </div>
      </div>
      
    </div>
  
  
  
   
  
    <!-- Submit button -->
    <button (click)="add()" type="submit" class="btn btn-dark btn-rounded btn-block mb-4 fs-6"> Ekle &nbsp; <i class="fa-solid fa-plus "></i></button>
  
  </form>