<app-navi></app-navi>

<div class="row  min-vh-100  ">

  <div class="col-12" style="border-left: 1px solid rgb(231, 231, 231)">


    <router-outlet></router-outlet>


  </div>
  <!-- <div class="col-1 bg-dark p-3">
    <h2 class="page-header text-center text-success">Sağ Bar Alanı</h2>
    <br />
    <p class="text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae
      at obcaecati. Corrupti iste aspernatur sequi, obcaecati dolores assumenda
      possimus quos, quidem laboriosam error accusantium consequatur! Quidem, ab
      quisquam in mollitia rerum distinctio vel tempore voluptate ullam optio
      culpa nesciunt illo facere hic, necessitatibus magnam! Omnis deserunt unde
      eum a?
    </p>
  </div> -->
</div>

<app-footer class="footer"></app-footer>