<div class="row">
  <div class="col-sm-2 flex-column pt-5  min-vh-100 text-center  border-1 border-end border-success shadow-sm"  >
    <h4 class="page-header text-center">Filtreler</h4>
    <hr class="solid" />



    <app-brand class="m-5"></app-brand>
    <hr class="solid" />

    <app-color></app-color>
    <hr class="solid" />
  
<app-price></app-price>

  


  </div>

  <div class="col-md-10  mt-4 text-center">
    <span class=" fs-1 fw-light text-dark text-center my-3 mb-5 mx-0 py-2  border-3 px-5 border-dark border shadow-lg "> Araçlarımız</span>
    <div *ngIf="dataLoaded == true" class="container">
      <div class="container mt-5">



        <div class="row row-cols-auto m-2 mt-1 ">
          <div class="col m-2 mt-2  " *ngFor="let cars of carDetails ">
            <div class="card shadow-lg bg-body rounded" style="width: 18rem; height:28rem; ">

              <img class="card-img-top " style="height:13.5em;" [src]="[getImageSource(cars.carID)]" />
              <div class="card-body  " style="height:12rem;">
                <div class="row ">
                  <div class="col-lg-6">
                    <i class="card-title text-black fw-normal fs-6">{{ cars.brandName }}
                    </i></div>
                  <div class="col-lg-6"> <i class="fs-5 text-success fw-normal">{{ cars.dailyPrice }} ₺


                    </i><i class="text-muted fs-6 fw-lighter">/Gün</i>
                  </div>
                  <h6 class="card-title fs-6 fw-lighter">{{ cars.modelYear }}</h6>
                </div>
                <div class="row"><div class="col-12">
                   <i class="card-title fs-6 fw-light">{{(carGetter(cars)).carModel}}</i>
                </div>   </div>
                


               

                <div class="row  container mt-1 mb-0 pt-2">
                  <div *ngIf="carGetter(cars).airConditioning===true" class="col-sm-3 text-center"><i class="fa-solid fa-snowflake"></i> <p  style="font-size: 10px;" class="text-muted">Klima</p></div>
                  <div *ngIf="carGetter(cars).navigation===true" class="col-sm-5 text-center"> <i class="fa-solid fa-compass"></i> <p  style="font-size: 10px;" class="text-muted">Navigasyon</p></div>
                  <div class="col-sm-4 text-center"><i class="fa-solid fa-money-bill-transfer"></i><br><p class="text-muted " style="font-size: 10px;">Provizyon<br>{{carGetter(cars).depositFee}} ₺</p>
                  </div>
                </div>

              </div>
              <div class="card-footer  p-1">
                <div class="text-end ">
                  
               <i style="font-size: 10px; border-radius: 10rem;"  routerLink="/cars/detail/{{ cars.carID }}" class="btn btn-dark btn-rounded" data-mdb-ripple-color="dark">
                
                Hemen Kirala &nbsp;
              
                <i class="fa-solid fa-angles-right"></i></i>
              
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dataLoaded == false" class="container text-center m-5 p-5">

      <div class="spinner-border text-success text-center" role="status">
        <span class="visually-hidden">Yükleniyor...</span>
      </div>
    </div>


  </div>

</div>


