<div class="row">
  <div class="col-2 flex-column pt-5 text-dark " style="background-color: rgb(223, 222, 222)">
    <h4 class="page-header text-center">Filtreler</h4>
    <hr class="solid" />



    <app-brand class="m-5"></app-brand>
    <hr class="solid" />

    <app-color></app-color>


  </div>

  <div class="col-10 ">
    <div *ngIf="dataLoaded == true" class="container">
      <div class="container">



        <div class="row row-cols-auto m-4 mt-3 ">
          <div class="col m-4 mt-3  " *ngFor="let cars of carDetails">
            <div class="card shadow-lg bg-body rounded" style="width: 18rem; height:25rem; ">

              <img class="card-img-top " style="height:13.5em;" [src]="[getImageSource(cars.carID)]" />
              <div class="card-body  " style="height:8rem;">
                <div class="row ">
                  <div class="col-lg-6"><i class="card-title fs-6">{{ cars.brandName }}</i></div>
                  <div class="col-lg-6"> <i class="fs-5 text-success fw-lighter">{{ cars.dailyPrice }} ₺


                    </i><i class="text-muted fs-6 fw-lighter">/Gün</i>
                  </div>
                </div>


                <h6 class="card-title fs-6 fw-lighter">{{ cars.modelYear }}</h6>

                <div class="mt-5"><a  routerLink="" class="list-group-item"
                    aria-current="true" class="btn btn-dark ">Detaylara Git</a>
                  <a routerLink="/cars/detail/{{ cars.carID }}" class="btn btn-success m-lg-1 ">Hemen Kirala</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dataLoaded == false" class="container text-center m-5 p-5">

      <div class="spinner-border text-success text-center" role="status">
        <span class="visually-hidden">Yükleniyor...</span>
      </div>
    </div>


  </div>

</div>